<!DOCTYPE html>
<meta charset="utf-8">
<style>

    body {
        font: 10px sans-serif;
    }

    text {
        fill: #000;
    }

    path.candle {
        stroke: #000000;
    }

    path.candle.body {
        stroke-width: 0;
    }

    path.candle.up {
        fill: #00AA00;
        stroke: #00AA00;
    }

    path.candle.down {
        fill: #FF0000;
        stroke: #FF0000;
    }

    path.ohlc {
        stroke: #000000;
        stroke-width: 1;
    }

    path.ohlc.up {
        stroke: #00AA00;
    }

    path.ohlc.down {
        stroke: #FF0000;
    }


    /*path.volume {
        fill: #EEEEEE;
    }*/
    path.volume {
        fill: #cccc00;
        opacity: 0.5;
    }

    path.volume.up {
        fill: #cccc00;
    }

    path.volume.down {
        fill: #cccc00;
    }

{#  stroke may change color, green or red, todo: remove it #}
    path.line {
        fill: none;
        stroke: #BF5FFF;
        stroke-width: 1;
    }

    .extent {
        stroke: #fff;
        fill-opacity: .125;
        shape-rendering: crispEdges;
    }

    .crosshair {
        cursor: crosshair;
    }

    .crosshair path.wire {
        stroke: #DDDDDD;
        stroke-dasharray: 1, 1;
    }

    .crosshair .axisannotation path {
        fill: #DDDDDD;
    }

    .y.annotation.right path {
        fill: #FF0000;
    }

    .x.annotation path {
        fill: #DDD80E;
    }

{#  below for trade arrow #}

    path.tradearrow {
        stroke: none;
    }

    path.tradearrow.buy {
        fill: #0000FF;
    }

    path.tradearrow.buy-pending {
        fill-opacity: 0.2;
        stroke: #0000FF;
        stroke-width: 1.5;
    }

    path.tradearrow.sell {
        fill: #9900FF;
    }

    .tradearrow path.highlight {
        fill: none;
        stroke-width: 2;
    }

    .tradearrow path.highlight.buy,.tradearrow path.highlight.buy-pending {
        stroke: #0000FF;
    }

    .tradearrow path.highlight.buy-pending {
        fill: #0000FF;
        fill-opacity: 0.3;
    }

    .tradearrow path.highlight.sell {
        stroke: #9900FF;
    }

{#  for trade line  #}
    path.tradeline {
        fill: 'green';
        stroke: #BF5FFF;
        stroke-width: 1;
    }
    .tradeline {
        fill: 'green';
        stroke: #BF5FFF;
        stroke-width: 1;
    }

    table {
        border-collapse: collapse;
        border: 2px black solid;
        font: 11px sans-serif;

{#        remove below, right align#}
{#        width: auto;#}
{#        margin-right: 0px;#}
{#        margin-left: auto;#}
    }

    td, th {
        border: 1px black solid;
        padding: 5px;
    }

    th {
        font-weight: bold;
    }

    .btnClass {
        font-size: 14px;
    }

</style>

<body>
<script src="http://d3js.org/d3.v4.min.js"></script>
<script src="http://techanjs.org/techan.min.js"></script>

<button id='button_next'>Next Bar</button> &emsp; &emsp; &emsp; &emsp;
<button id='button_buy'>Buy</button> <button id='button_sell'>Sell</button> &emsp; &emsp; &emsp; &emsp;
<button id='button_short'>Short</button> <button id='button_cover'>Cover</button>
<button id='button_new_game' style="float: right;">Random Game</button> <br>

<div style='float:left'>

<script>

    var arrowtrades, linetrades, fund, symbol, entry_price, portfolio, end_index, original_price;  // global
    var row_data=[];

    var BEFORE_WINDOW = 602,
        WINDOW = 69,
        AFTER_WINDOW = 88;

    function init_global(org_price) {
        arrowtrades=[];
        linetrades=[];
        row_data=[];
        fund = 100000; // set to init value

        portfolio='';

        original_price = org_price;
    }

    function draw_table_head() {
      var columns = [
          "Buy/Short",
          "Entry Price",
          "Exit/Curr Price",
          "Holding Days",
          "Gain%",
          "Max Drawdown%",
      ];
      var table = d3.select("body")
              .append("table");
      var thead = table.append("thead");
      var tbody = table.append("tbody");

      thead.append("tr")
        .selectAll("th")
        .data(columns)
        .enter()
        .append("th")
        .text(function(column) { return column; });
    }

  function draw_table_rows() {

    d3.selectAll("body table")// delete all in tbody.
            .selectAll("tbody tr")
            .remove();

    if (row_data.length==0)
            return;

    var tbody = d3.selectAll("body table").selectAll("tbody");

    // Create a row for each object in the data
    var reversed = row_data.slice().reverse();
    var rows = tbody.selectAll("tr")
        .data(reversed)
        .enter()
        .append("tr");

    // Create a cell in each row for each column
    var cells = rows.selectAll('td')
        .data(function (d) {return [d['buysell'],
                                    d['Entry Price'],
                                    d['Exit Price'],
                                    d['Holding Days'],
                                    d['Gain%'],
                                    d['Max Drawdown%'],
                                    ];})
        .text(function (d) {return d;})
            ;

    cells.enter()
        .append("td")
        .text(function(d) { return d; })
        .style("background-color",function(d,i) {
                if (i==5)
                   return '#ff9999';  // max drawdown, red
                if (i==4) {
                   if (d<0) { return '#ff9999'; }
                    else { return '#00cc00'; } // profit/loss color: green/red
                }
            })
    ;
  }


</script>

<script>

    var margin_main = {top: 20, right: 30, bottom: 200, left: 50},
        margin_volume = {top: 420, right: 30, bottom: 100, left: 50},
        margin_close = {top: 520, right: 30, bottom: 20, left: 50},


        width_main = 960 - margin_main.left - margin_main.right,
        height_main = 600 - margin_main.top - margin_main.bottom,

        height_close = 600 - margin_close.top - margin_close.bottom;  // 500-420-20=60 pix
        volume_close = 600 - margin_volume.top - margin_volume.bottom;  // 100 pix ?


    // var parseDate = d3.timeParse("%d-%b-%y");  // e.g. 23-May-14
    var parseDate = d3.timeParse("%Y-%m-%d");  // e.g. 1980-10-01

    var x = techan.scale.financetime()
            .range([0, width_main]);

    var xClose = techan.scale.financetime()
            .range([0, width_main]);

    var y = d3.scaleLinear()
            .range([height_main, 0]);

    var yVolume = d3.scaleLinear()
            .range([y(0), y(0.3)]);

    var yClose = d3.scaleLinear()
            .range([height_close, 0]);

    var brush = d3.brushX()
            .extent([[0, 0], [width_main, height_close]])
            .on("brush end", brushed);

    var candlestick = techan.plot.candlestick()
            .xScale(x)
            .yScale(y);

    var volume = techan.plot.volume()
            .accessor(candlestick.accessor())   // Set the accessor to a candlestick accessor so we get highlighted bars
            .xScale(x)
            .yScale(yVolume);

    var volumeAxis = d3.axisRight(yVolume)
            .ticks(3)
            .tickFormat(d3.format(",.3s"));

    var close = techan.plot.close()
            .xScale(xClose)
            .yScale(yClose);


    var tradearrow = techan.plot.tradearrow()
            .xScale(x)
            .yScale(y)
            .orient(function(d) { return d.type.startsWith("buy") ? "up" : "down"; })

    var tradeline = d3.line();
{#            .xScale(x)#}
{#            .yScale(y)#}
{#            .attr('x1', function(d) { return x1(d.entry.date); })#}
{#            .attr('y1', function(d) { return y1(d.entry.price); })#}
{#            .attr('x2', function(d) { return x2(d.exit.date); })#}
{#            .attr('y2', function(d) { return y2(d.exit.price); })#}
{#            ;#}

    {#            .orient(function(d) { return d.type.startsWith("buy") ? "up" : "down"; })#}


    var xAxis = d3.axisBottom(x);

    var xAxis2 = d3.axisBottom(xClose);

    var yAxis = d3.axisRight(y);

    var yAxis2 = d3.axisRight(yClose)
            .ticks(0);

    var ohlcAnnotation = techan.plot.axisannotation()
            .axis(yAxis)
            .orient('left')  // cant to right ? width_main?
            .format(d3.format(',.2f'));  // for crosshair

    var ohlcRightAnnotation = techan.plot.axisannotation()  // for close price annotation
            .axis(yAxis)
            .orient('right')
            .accessor(candlestick.accessor())
            .format(d3.format(',.2f'));

    var timeAnnotation = techan.plot.axisannotation()
            .axis(xAxis)
            .orient('bottom')
            .format(d3.timeFormat('%Y-%m-%d'))
            .width(65)
            .translate([0, height_main]);

    var volumeAnnotation = techan.plot.axisannotation()
            .axis(volumeAxis)
            .orient('right')
            .width(35);

    var crosshair = techan.plot.crosshair()
            .xScale(x)
            .yScale(y)
            .xAnnotation(timeAnnotation)
            .yAnnotation([ohlcAnnotation,volumeAnnotation]);

    var svg = d3.select("body").append("svg")
            .attr("width", width_main + margin_main.left + margin_main.right)
            .attr("height", height_main + margin_main.top + margin_main.bottom);

    var focus = svg.append("g")
            .attr("class", "focus")
            .attr("transform", "translate(" + margin_main.left + "," + margin_main.top + ")");

    focus.append("clipPath")
            .attr("id", "clip")
        .append("rect")
            .attr("x", 0)
            .attr("y", y(1))
            .attr("width", width_main)
            .attr("height", y(0) - y(1));

    focus.append("g")
            .attr("class", "volume")
            .attr("clip-path", "url(#clip)");

    focus.append("g")
            .attr("class", "candlestick")
            .attr("clip-path", "url(#clip)");

    focus.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height_main + ")");

    focus.append("g")
            .attr("class", "y axis")
            .attr("transform", "translate(" + width_main + ")", 0)
        .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .text("Price ($)");

    focus.append("g")
            .attr("class", "y annotation right")
            .attr("clip-path", "url(#clip)")
            .attr("transform", "translate(" + width_main + ")", 0);

    focus.append('g')
            .attr("class", "crosshair")
            .call(crosshair);

    focus.append("g")
            .attr("class", "tradearrow");

{#    focus.append("g")#}
{#            .attr("class", "tradeline");#}
{#            .attr("clip-path", "url(#clip)")#}
{#            .attr("transform", "translate(" + width_main + ")", 0);#}


    var context = svg.append("g")
            .attr("class", "context")
            .attr("transform", "translate(" + margin_close.left + "," + margin_close.top + ")");

    context.append("g")
            .attr("class", "close");

    context.append("g")
            .attr("class", "pane");

    context.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height_close + ")");

    context.append("g")
            .attr("class", "y axis")
            .attr("transform", "translate(" + width_main+")", 0) // move y axis to right
            .call(yAxis2);


    // main work; data load when page loading
    var accessor = candlestick.accessor(),
        timestart = Date.now();


    d3.select("#button_next").on("click", function() {  // called when Next clicked
        if(data.length < feed.length) {
            data = feed.slice(0, data.length+1);
        }

        if (portfolio==='buy') {
            var last_entry = linetrades.pop();
            last_data = data[data.length-1];
            last_entry['exit'] = {date: last_data['date'], type: 'sell', price: last_data['close']};
            linetrades.push(last_entry);

            // update row_data last entity values
            var in_trade = row_data.pop();
            in_trade['Exit Price'] = last_data['close'].toFixed(2);
            //in_trade['Holding Days'] = Math.trunc((last_data['date']-in_trade['date'])/(1000*60*60*24));
            in_trade['Holding Days'] = data.length-1 -in_trade['date_index'];
            in_trade['Gain%'] = ((last_data['close']-in_trade['Entry Price'])/in_trade['Entry Price'] * 100).toFixed(2);
            in_trade['Max Drawdown%'] = Math.min(in_trade['Max Drawdown%'],
                    ((last_data['close']-in_trade['Entry Price'])/in_trade['Entry Price'] * 100).toFixed(2)
                                                 );
            row_data.push(in_trade);
        }

        buy_hold = ((data[data.length-1]['close'] - original_price)/original_price * 100).toFixed(2);
        document.getElementById("buy_hold").innerHTML = buy_hold.toString();

        x.domain(data.map(accessor.d));
        xClose.domain(x.domain());
        y.domain(techan.scale.plot.ohlc(data, accessor).domain());
        yClose.domain(y.domain());
        yVolume.domain(techan.scale.plot.volume(data).domain());

        focus.select("g.candlestick").datum(data);
        focus.select("g.volume").datum(data);

        context.select("g.close").datum(data).call(close);
        context.select("g.x.axis").call(xAxis2);

        brush_pix = 69*width_main/data.length; // 69 is bar to show, window width
        // Associate the brush with the scale and render the brush only AFTER a domain has been applied
        context.select("g.pane")
          .call(brush)
          .call(brush.move, [width_main-brush_pix,width_main])  // set initial brush rect.
          .selectAll("rect").attr("height", height_close);

        // Associate the brush with the scale and render the brush only AFTER a domain has been applied
        context.select("g.pane").call(brush).selectAll("rect").attr("height", height_close); // seems no use

        draw();
    }).style("display", "inline");

    console.log("Render time: " + (Date.now()-timestart));

    function brushed() {  // called by brush area change
        var zoomable = x.zoomable(),
            zoomable2 = xClose.zoomable();

        zoomable.domain(zoomable2.domain());
        if(d3.event.selection !== null) zoomable.domain(d3.event.selection.map(zoomable.invert));
        draw();
    }

</script>

    </div>
    <div style='float:right'>
        <br>
        <br>

        Strategies <br>
        <select id="get_strategies_selection_id" onchange="get_game_candidates(this.value)">
        </select>

        <br>
        <br>

        Game Candidates <br>
        <select id="get_candidate_selection_id" onchange="symbol_to_file(this.value)">
        </select>

        <br>
        <br>
        <br>

        <p style="font-size:12px">
        Statistics: <br>
        Buy and Hold percentage: <label id="buy_hold"></label>


        </p>
<!--<pre>-->
<!--Hourly Profit: $832.00/hour-->
<!--Hourly Return: 832.00% / hour-->
<!--Average Return Per Trade: 14577.00%/trade-->
<!--Win Rate: 24.33%-->
<!--Total Profit: $6.02e+27-->
<!--Total Return: 6.02e+24%-->
<!--Standard Deviation: 14.18-->
<!--</pre>-->


        <br>
        <br>
        <button id="slide_show_button" onclick="this.disabled=true;slide_show_charts()" > slide show charts</button>
        <button id="slide_pause_resume" onclick="pause_resume_charts()" class="btnClass"> pause </button>
        <br>

        <input id='symbol_date' type="date" value="" />
        <INPUT id='symbol_input'  style="text-transform: uppercase" TYPE = "Text" Size = 8 Value = 'IBM' >
        <button id="symbol_go" onclick="symbol_go(true)"> Go </button>

        <br>
        <button id="previous_symbol" onclick="previous_symbol()" > < </button>
        <button id="next_symbol" onclick="next_symbol()" > > </button>
        <br>
        <br>


    </div>

<script>
    var symbol_index = 0, all_symbols=[];

    document.getElementById("symbol_date").value= new Date().toISOString().slice(0, 10); // todo. set default time

    document.getElementById("symbol_input")// addd handler, symbol text <enter> mean click <go>
            .addEventListener("keyup", function (event) {
                event.preventDefault();
                if (event.keyCode == 13) {
                    document.getElementById("symbol_go").click();
                }
            });
    document.getElementById("symbol_date")// addd handler, symbol text <enter> mean click <go>
            .addEventListener("keyup", function (event) {
                event.preventDefault();
                if (event.keyCode == 13) {
                    document.getElementById("symbol_go").click();
                }
            });


    function pause_resume_charts() {
        var pause_or_resume = document.getElementById('slide_pause_resume').innerText;
        if (pause_or_resume == 'pause') { // pause operation
            document.getElementById('slide_pause_resume').innerText = "resume";
        } else { // resume operation
            document.getElementById('slide_pause_resume').innerText = "pause";
        }
    }

    function symbol_go(symbol_search) { // todo, align with chrome ?
        var symbol = document.getElementById('symbol_input').value.toUpperCase();

        if (symbol_search===true && all_symbols.length>0) {
            var low=0, high=all_symbols.length-1;
            while (low<=high) {
                var mid = Math.floor((low+high)/2);

                if (all_symbols[mid] === symbol) { symbol_index = mid; break; }
                else if (all_symbols[mid] > symbol) { high = mid-1; symbol_index=low; }
                else { low = mid+1; symbol_index=low; }
            }
            symbol = all_symbols[symbol_index];  // set symbol index for slide show jump.
            document.getElementById('symbol_input').value = symbol;
        }

        var date=document.getElementById('symbol_date').value; //.split('-');

{#        var month=date[1];#}
{#        var day=date[2];#}
{#        var year=date[0];#}

        symbol_to_file(symbol+','+date, true);  // mark it's end date.

    }


    function slide_show(){  // symbol_go directly ?
        var pause_or_resume = document.getElementById('slide_pause_resume').innerText;
        if (pause_or_resume==='resume') { // in paused state
            return;
        }
        if ((symbol_index >= all_symbols.length) || (symbol_index<0)) { return; }

        document.getElementById('symbol_input').value = all_symbols[symbol_index]; // set symbol by index
        symbol_index++;
        symbol_go();  // dont earch symbols for performance.
    }

    function slide_show_charts() {  // called only once.
        d3.request('http://localhost:9000/list_all_symbols')
            .get(function(d) {
                all_symbols = JSON.parse(d.responseText);
                setInterval(slide_show, 750);
        } );
    }

    function previous_symbol() {
        symbol_index--;
        document.getElementById('symbol_input').value=all_symbols[symbol_index-1];
        symbol_go();
    }
    function next_symbol() {
        document.getElementById('symbol_input').value=all_symbols[symbol_index];
        symbol_index++;
        symbol_go();
    }


    // for strategy and games candidates below
    function get_game_candidates(strg_id) {
        if (strg_id==='') return;

        d3.request('http://localhost:9000/get_game_candidates/'+strg_id)
            .get(function(d) {
                console.log("call api and populate select options");

                mydict = JSON.parse(d.responseText);
                console.log(mydict)

                symbols = mydict.symbols;
                chart_start_date = mydict.chart_start_date; // string

                <!-- below is to populate game/symbol selection-->
                var game_select = document.getElementById('get_candidate_selection_id');
                var length = game_select.options.length;
                for (i = length-1; i >= 0; i--) {
                  game_select.remove(i);
                }
                game_select.options.add( new Option('', '', true) );
                for(var i = 0, l = symbols.length; i < l; i++){
                    var symbol = symbols[i];
                    game_select.options.add( new Option(symbol, symbol+','+chart_start_date) );
                }
            } );
    }

    function draw() {  // main drawing function
        var candlestickSelection = focus.select("g.candlestick"),
            data = candlestickSelection.datum();
        y.domain(techan.scale.plot.ohlc(data.slice.apply(data, x.zoomable().domain()), candlestick.accessor()).domain());
        candlestickSelection.call(candlestick);
        focus.select("g.volume").call(volume);
        // using refresh method is more efficient as it does not perform any data joins
        // Use this if underlying data is not changing
//        svg.select("g.candlestick").call(candlestick.refresh);
        focus.select("g.x.axis").call(xAxis);
        focus.select("g.y.axis").call(yAxis);
        focus.select("g.volume.axis").call(volumeAxis);

        focus.select("g.y.annotation.right").datum([data[data.length-1]]).call(ohlcRightAnnotation);  // show close price

        // todo, remove() first to init?? when arrowtrades is []

        if (arrowtrades.length == 0) {
            focus.selectAll("g.tradearrow").select("g.data").selectAll("path.tradearrow").remove();
            // one class, one select, after . is attribute
        }
        focus.select("g.tradearrow").datum(arrowtrades).call(tradearrow); // show trade arrow


        focus.selectAll("line")// this has issue, need to comment for real run.
                .remove();
        //focus.selectAll("g.tradeline")// this has issue, need to comment for real run. working
        focus.selectAll("line")// this has issue, need to comment for real run.
                .data(linetrades)
                .enter()
                  .append('line') // .append("tradeline")
                .attr('x1', function(d) { return x(d.entry.date); })
                .attr('y1', function(d) { return y(d.entry.price); })
                .attr('x2', function(d) { return x(d.exit.date); })
                .attr('y2', function(d) { return y(d.exit.price); })
                .attr("stroke-width", 1)
                .attr("stroke", 'green')
                ;

        draw_table_rows();
    }

    d3.select("#button_new_game").on("click", function(d,i) { new_game(); } );

    d3.select("#button_buy").on("click", function(d,i) { buy(); } );
    d3.select("#button_sell").on("click", function(d,i) { sell(); } );

    draw_table_head();
    draw_table_rows();

</script>



<script>

    function symbol_to_file(symbol_start_date, is_end_date) {
        if (symbol_start_date==='') return;

        // alert(symbol_start_date);

        // separate to symbol and date_str
        var array_tmp = symbol_start_date.split(',');

        var symbol = array_tmp[0];
        var date_str = array_tmp[1];

        if (symbol==='') {
            return;
        }
        filename = symbol+".csv";
        data_file = "{{url_for('static', filename='filename')}}";
        data_file = data_file.replace('filename', filename);

        load_data(data_file, date_str, is_end_date);
    }

    function reload_or_newgame() {
        d3.request('http://localhost:9000/reload_or_newgame')
            .get(function(d) {
                mydict = JSON.parse(d.responseText);

                fund = mydict.fund;  // suppose global
                symbol = mydict.symbol;

                // start_index = mydict.start_index; //remove the two?
                // end_index = mydict.end_index - start_index;  // global

                date_str = mydict.start_date_str;

                // below is populate strategy selection
                strategies = mydict.strategies;  // populate options with these values.

                var strg_select = document.getElementById('get_strategies_selection_id');
                var length = strg_select.options.length;
                for (i = length-1; i >= 0; i--) {
                  strg_select.remove(i);
                }
                strg_select.options.add( new Option('', '', true) );
                for(var i = 0, l = strategies.length; i < l; i++){
                  var strategy = strategies[i];
                  strg_select.options.add( new Option(strategy[1]+'-'+strategy[0], strategy[0]) );  // 1 is name, 0 is id
                }

                symbol_to_file(symbol +','+ date_str);
            } );

    }
    window.onload = reload_or_newgame;
</script>


<script type='text/javascript'  src={{ url_for('static', filename='apis.js') }} ></script>

</body>
